<% for article in articles[0..2] %>
  <div class="span-6 article-column">
    <h3 class="padding-left"><%=h article.name %></h3>

    <div class="padding-left article">
      <% if !article.photos.empty? -%>
        <%= image_tag(article.photos[0].public_filename(:thumb)) %>
      <% end -%>
      <%= raw article.get_truncated_content %>
    </div>
    <div class="more">
      <%= link_to "mehr", Page.find(article.view_page_id) %>
    </div>
  </div>
<% end %>

<div class="span-6 last">
  <h3 class="padding-left"><%=h secondary_articles[0].name %></h3>
  <div class="padding-left secondary-article">
    <% if !secondary_articles[0].photos.empty? -%>
      <%= image_tag(secondary_articles[0].photos[0].public_filename(:thumb)) %>
    <% end -%>

    <%= raw secondary_articles[0].get_content %>
  </div>
  <div class="more">
    <%= link_to "mehr", Page.find(secondary_articles[0].view_page_id) %>
  </div>
</div>
