<h1>Editing article</h1>

<% form_for(@article, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.label "'more' links to..." %><br />
    <%= f.collection_select(:view_page_id, Page.find(:all), :id, :name)  %>
  </p>
  <p>
  	<% for mugshot in @article.photos -%>
	  <%= link_to image_tag(mugshot.public_filename(:square_thumb)), mugshot.public_filename %>
	<% end -%>
  </p>
  <p>
	<%= f.label "Upload a photo" %><br />
    <%= file_field_tag "photo", :id => "photo_image", :class =>
	"attach_photo" %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
