<% form_for(@page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :order %><br />
    <%= f.text_field :navigation_order %>
  </p>

  <p>
    Visible in navigation: 
    <%= f.check_box :in_navigation %>
  </p>


  <p>
	<%= f.label :header %><br />
	<% headers = Header.find(:all) %>
    <%= f.collection_select :header_id, Header.find(:all), :id, :name %>
  </p>

  <p>
    <%= f.label :layout %><br />
    <%= f.collection_select(:layout_id, Layout.find(:all), :id, :name) %>
  </p>

  <p>
    <%= f.label :article0 %><br />
    <%= f.collection_select(:article0_id, Article.find(:all), :id, :name)  %>
  </p>

  <p>
    <%= f.label :article1 %><br />
    <%= f.collection_select(:article1_id, Article.find(:all), :id, :name)  %>
  </p>

  <p>
    <%= f.label :article2 %><br />
    <%= f.collection_select(:article2_id, Article.find(:all), :id, :name)  %>
  </p>

  <p>
    <%= f.label :secondary_article %><br />
    <%= f.collection_select(:secondary_article_ids, Article.find(:all), :id, :name, {}, :multiple => true)  %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>