<h1>
  <%=h @page.name %>
</h1>
<!--<%=h @page.header.name %>-->
<%= render :file => @page.header.file_name %>
<!--/<%=h @page.header.name %>-->

<h1>Layout:<%=h @page.layout.name %></h1>
<div style="border: 1px white solid; min-height:100px">
	<ul>
		<li><strong>file name:</strong><%=h @page.layout.file_name %></li>
	</ul>
</div>

<h1>Artikel</h1>
<div style="border: 1px white solid; min-height:100px">
	<ul>
		<% for article in @page.articles %>
			<li>
				<%=h article.name %>
			</li>
		<% end %>
	</ul>
	
</div>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>