<!DOCTYPE html>

<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page.name %> - Johannes Held</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'screen' %>
</head>
<body>

<%= yield %>	

<footer class="center">
	Johannes Held Bariton - 2010 | Meet Johannes at Facebook
</footer>

</body>
</html>
