<!DOCTYPE html>

<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page.name %> - Johannes Held</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'screen' %>
</head>
<body>

<%= yield %>	

<footer class="center">
	<div class="float-left">
		<%= link_to "Home", Page.find(4) %>|
		<%= link_to "Kontakt", Page.find(1) %> 
	</div>
	<div class="float-right">
		© www.johannes-c-held.de | Meet Johannes at 
		<a href="http://www.facebook.com/home.php?#!/johannesheld?ref=sgm"> 
			<%= image_tag("facebook.png") %>
		</a>
	</div>
</footer>

</body>
</html>
